* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  --color-1: #078e84;
  --color-2: #04443f;
  overflow-x: hidden;
}

/*HEADER */

.header {
  width: 100%;
  padding: 1em;
  background: linear-gradient(45deg, var(--color-2), var(--color-1));
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu {
  width: 20%;
}
.header h1 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  width: 75%;
  text-align: right;
}

/*MAIN */

.main {
  width: 100%;
}

/* MAIN SECTIONS */

.main-section {
  width: 100%;
}
.main-header {
  padding: 1em;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  color: var(--color-2);
}
.main-header:after {
  content: "";
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, var(--color-2), var(--color-1));
  display: block;
  margin: 1em 0
}